@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: #eee;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-window {
  grid-template-columns: auto 1fr auto;
}

.you .message-content {
  @apply bg-green-300 rounded-lg self-end;
}
.you .chat-meta {
  @apply self-end;
}

.other .message-content {
  @apply bg-blue-300 rounded-lg self-start;
}
.other .chat-meta {
  @apply self-start;
}